#map{
  padding:0 0 5vw 0;
}
#map .map_svg {
  width: 74vw;
  margin: 5vw 0;
}

#map .map_wrapper {
  display: flex;
  justify-content: center;
}

#map .map_wrapper object {
  width: 60vw;
}

#map .chint_around_world_title {
  font-size: 1.8vw;
  color: var(--primary);
  margin-bottom: 1vw;
}

#map .chint_around_world_desc {
  font-size: var(--text14px);
  color: var(--primary);
}

#map .country_representation_title {
  font-size: 7.5vw;
  color: var(--primary);
}

#map .country_representation_desc {
  font-size: 1.8vw;
  color: var(--primary);
}

#map .map_text_wrap {
  width: 72.5%;
  margin: 3vw auto;
  margin-bottom: 6vw;
  display: flex;
  justify-content: space-between;
}
svg path{
  fill:rgba(30, 89, 164, 1);
  stroke:white;
  stroke-width:0.45px;
}
svg path:hover{
  fill:white;
  stroke:rgba(30, 89, 164, 1);
  stroke-width:2px;
  transition:.4s;
  cursor:pointer;
}