#map{
  padding:0 0 5vw 0;
   
}
#map .map_svg {
  width: 74vw;
  margin: 5vw 0;
}

#map .map_wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  padding:2vw 0 0 0;
  /* border: 1px solid red; */

}


#map .chint_around_world_title {
  font-size: 1.8vw;
  color: var(--primary);
  margin-bottom: 1vw;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: 2.4vw;


}

#map .chint_around_world_desc {
  font-size: var(--text14px);
  color: var(--primary);
  font-family: SF Pro Display;
  font-size: 0.95vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.61vw;
  letter-spacing: 0em;
  text-align: left;
  
}

#map .country_representation_title {
  font-size: 7.5vw;
  color: var(--primary);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

#map .country_representation_desc {
  font-size: 1.8vw;
  color: var(--primary);
  font-family: SF Pro Display;
  font-size: 1.97vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.63vw;

}

#map .map_text_wrap {
  width: 72.5%;
  margin: 3vw auto;
  margin-bottom: 6vw;
  display: flex;
  justify-content: space-between;
}

#map svg path{
  fill:rgba(30, 89, 164, 1);
  stroke:white;
  stroke-width:0.45px;
}

#map svg path:hover{
  fill:rgb(170, 255, 239);
  stroke:rgba(30, 89, 164, 1);
  stroke-width:2px;
  transition:.4s;
  cursor:pointer;
}

#map svg .showMapTitle{
  position:absolute;
  color:black;
  font-weight: 700;
  z-index:3;
  font-size:1.02vw;
  margin:0;
  padding:0;
  border-radius:2vw;
  background-color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  align-items: center;
  padding:0 2vw;

}




@keyframes mymove {
  0% {r:4px;opacity:1;}
  100% {r:4px;opacity:1;}
  

}


