.hompage_content2{
    background-color:#1D569C;
}

.hompage_content2_inner{
    width:72.5%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;

}

