
.homepage_showcase{
  background-image:url('../assets/images/newshowcase.png');
  background-size:100% 51vw;
  background-color:var(--primary);
  position: relative;
  display: flex;
  justify-content: center;

}
.swiper-container{
  overflow-x: hidden;
  height: 51.02vw;
  width:75.4vw;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.swiper-pagination{
  top:42vw;
}
.swiper-wrapper{
  
}
.swiper-slide {
  position:absolute;
  text-align: center;
  font-size: 1.31vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
  height:19.9vw!important;
  margin-top:14.1vw;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../assets/images/vectorright.png');
  background-repeat: no-repeat;
  background-size: 0.8vw 1.61vw;
  background-position: center;
  width:2.48vw!important;
  height:4.53vw!important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev{
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../assets/images/vectorleft.png');
  background-repeat: no-repeat;
  background-size: 0.8vw 1.61vw;
  background-position: center;
  width:2.48vw!important;
  height:4.53vw!important;
}
.swiper-button-prev::after{
  display: none;
}
.vectorbuttom{
  position:absolute;
  top:45vw;
  width:2.49vw;
  height:1.09vw;
}
