.world5_main_container{
    width: 72.5%;
    margin: 0 auto;
}
.world5_content{
    background-color:white;
    padding-bottom: 11.5vw;
}
.world5_container{
    width: 72.5%;
    margin: 0 auto;
}
.world5_title_top p{
    font-family: 'SF Pro Display';
    font-size: 2.63vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.63vw;
    letter-spacing: 0em;
    color:#1E59A4;
    margin:3vw 0 0.6vw 0;
}