.world5_container_image{
    display: flex;
    flex-direction: row;
    column-gap:4.39vw;
    margin-top:4.4vw;
    transition: .4s;
}
.world5_container_image img:hover{
    /* transform: scale(1.008); */
    box-shadow:-2px 2px 5px grey;
}

.world5_container_image img{
    width: 24.89vw;
    height: 15.95vw;
    border-radius:1.46vw;
    transition: .4s;

}

.world5_container_image_title{
    display:flex;
    flex-direction: column;
}

.world5_container_image_title p:nth-child(1){
    font-family: SF Pro Display;
    font-size: var(--text18px);
    font-style: normal;
    font-weight: 500;
    line-height: 1.53vw;
    letter-spacing: 0em;
    text-align: left;
    margin:0.86vw 0 0 0;
    color:#393939;
}
.world5_container_image_title p:nth-child(2){
    font-family: SF Pro Display;
    font-size: var(--text14px);
    font-style: normal;
    font-weight: 500;
    line-height: 1.53vw;
    letter-spacing: 0em;
    color:#7A7A7A;
    margin-top:auto;

}
.world5_container_image_title p:nth-child(3){
    font-family:' Lato'!important;
    font-size: 0.73vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0.87vw;
    letter-spacing: 0em;
    text-align: left;
    margin-top:auto;
    color:#A9B1BC;

}