.img    {
width: 62px;
height: 62px; 
transition: transform 0.5s;
    
}
.img:hover{
    /* box-shadow:1px 1px 5px grey; */
  transform:scale(1.4);
}
.services p{
    font-family: Urbanist;
font-style: normal;
font-weight: normal;
font-size: 12.0561px;
line-height: 17px;
width: 61%;
color: #393939;
}
.services{
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}