.coverall{
   width:100%;
   background-color:white;
  
}
.headernav{
    width:72.5%;
    margin: 0 auto;
}
.contain{
    background-color:white;
}
.text-areas{
    display: flex;
    flex-direction: column;
    width:72.5%;
    margin: 0 auto;
    background-color:white;
    margin-bottom: 277px;
}
.text-areas h1{
    font-family:' Urbanist';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 36px;
color: #1E59A4;
margin-bottom: 35px;
}
.text-areas p{
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: justify;
    color: #393939;
    width: 69.533vw;
}
.footer{
    
    background-color: white;
}