.hompage_content_inner{
  width:72.5%;
  margin:auto;
}
#news {
  margin: 10vw 0;
}

#news .news_card {
  width: 20vw;
}

#news .news_img {
  width: 19.7vw;
  height: 12.5vw;
  background-color: gray;
  border-radius: 1.3vw;
}

#news .news_img img {
  width: 100%;
  height: 100%;
  border-radius: 1.3vw;
  transition:.4s;
}

#news .news_date {
  margin: 1vw 0;
  margin-top: 2vw;
  color: var(--primary);
  font-size: 0.7vw;
}

#news .news_desc {
  font-weight: 700;
  font-size: 1vw;
  width:fit-content;
  color:#393939;
}

#news .news_list {
  display: flex;
  justify-content: space-between;
}
#news .news_btn_wrapper{
  display: flex;
  justify-content: center;
}
#news .news_btn_wrapper .news_btn{
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  border: 1px solid #75A1D2;
  width: 10.24vw;
  height: 2.85vw;
  margin-top:5.5vw;
  transition: 0.4s;
} 
#news .news_btn_wrapper .news_btn:hover{
  box-shadow: 0px 1px 2px #75A1D2;
}
#news .news_btn_wrapper .news_btn p{
  font-family: SF Pro Display;
  font-size: 0.87vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.34vw;
  width:fit-content;
  margin:0;
  color:#3C79BF;
}