.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 123px;
  }
  .btn button {
    background: #1e59a4;
    border-radius: 10px;
    width: 246px;
    height: 58px;
  }
  .btn button {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 14.7195px;
    line-height: 22px;
    color: #ffffff;
  }