@font-face {
    font-family: 'Urbanist';
    src: url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
}


.product_container{
    height: 83.2911376953125px;
    width: 42.4vw;
    border-radius: 14.873417854309082px;
    display:flex;
    border:1px solid #1E59A433;
    align-items:center;
    justify-content:center;
    margin-bottom:15px;
}
.product_container:hover{
    border:1px solid #1E59A4;
}
.product_title{
    display: flex;
    flex-direction: column;
    row-gap:5px;
    margin:0 32px 0 22px;
}
.product_title p:nth-child(1){
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
}
.product_title p:nth-child(2){
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color:#393939;
}
.product_container img:nth-child(1){
    height: 69.90505981445312px;
    width: 45.363922119140625px;
}
.product_container img:nth-child(3){
    transform:rotate(-90deg);
}

