
.pro_hover_inner2_box{
    height: 6.09vw;
    width: 42.35vw;
    border-radius: 1.08vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:1.09vw;
    text-decoration: none;
    border:1px solid #1E59A433;
    transition:.4s;
   
}

.pro_hover_inner2_box p{
    width:fit-content;
    margin:0;
}

.pro_hover_inner2_box:hover{
    border:1px solid #1E59A4;
    box-shadow:1px 1px 5px grey;
    /* transform: scale(1.008); */
    
}
.pro_hover_inner2_box_title{
    display: flex;
    flex-direction: column;
    row-gap:0.36vw;
    margin:0 1.7vw 0 1vw;
}
.pro_hover_inner2_box_title p:nth-child(1){
    font-family: Lato;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: 0.87vw;
    letter-spacing: 0em;
    color:rgba(0, 0, 0, 1);
}
.pro_hover_inner2_box_title p:nth-child(2){
    font-family: "Inter";
    font-size: 0.97vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17vw;
    letter-spacing: 0em;
    color:#393939;
}
.pro_hover_inner2_box img:nth-child(1){
    height: 5.11vw;
    width: 3.32vw;
}
.pro_hover_inner2_box .pro_hover_inner2_box_svg1{
    transform:rotate(-90deg);
    height: 2.23vw;
    width: 2.23vw;
}
.pro_hover_inner2_box_svg1_2{
    display: none;
    transform:rotate(-90deg);
    height: 2.23vw;
    width: 2.23vw;
}
.pro_hover_inner2_box:hover .pro_hover_inner2_box_svg1_2{
    display:block;
}
.pro_hover_inner2_box:hover .pro_hover_inner2_box_svg1{
    display:none;
}


