

.pro_inner2_main_container{
    width: 72.5%;
    margin: 0 auto;
}
.pro_inner2_container{
    width: 72.5%;
    margin: 0 auto;
}
.pro_inner2_content{
    width: 100%;
    margin: 0 auto;
    background-color:white;
    height:50%;
    overflow: visible;
    padding-bottom:100vh;
}

.pro_inner2_content_data{
    display:flex;
    margin-top:4.53vw;
    column-gap:5.56vw;
    /* flex-wrap: wrap; */
    
}
.pro_inner2_content_data_right{
    flex:5;
    /* background-color:whitesmoke; */
    
}

.pro_inner2_right_inner{
    padding:2.9vw 3.44vw 3.6vw 3.14vw;
    height: 26.5vw;
    width: 42.4vw;
    border-radius: 1.36vw;
    border:1px solid rgba(30, 89, 164, 0.2);
    display: flex;
    flex-direction: column;   
    margin-bottom:4.61vw;
    transition: .4s;
}
.pro_inner2_right_inner:hover{
    border:1px solid #8EACD1;
    box-shadow:-1px 4px 7px grey;
}

.right_inner_1{
    margin:0px 0 1.68vw 0;
    width:95%;
   
}
.right_inner_1 img{
    width:1.12vw;
    height:1.53vw;
}
.right_inner_1 p:nth-child(1){
    font-family: SF Pro Display;
    font-size: 1.02vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.46vw;
    letter-spacing: 0em;
    text-align: left;
    color:#393939;
    white-space:pre-line;
}
.right_inner_1 p::first-line{
    font-weight: 700;
}
.right_inner_1 p:nth-child(4){
    font-family: SF Pro Display;
    font-size: 1.02vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.46vw;
    letter-spacing: 0em;
    text-align: left;
    color:#393939;
}
.right_inner_doc{
    display: flex;
    margin-top:2vw;
    
    column-gap:0.43vw;
   
}
.right_inner_doc img{
    width:1.12vw;
    height:1.53vw;
}
.right_inner_doc p{
    font-family: Urbanist;
    font-size: 1.02vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.46vw;
    letter-spacing: 0em;
    color:#1E59A4;
}
.right_inner_2{
    width:80%;
    display: flex;
    flex-wrap: wrap;
   
}
.right_inner_2_1{
    width:50%;
    margin-bottom:1.39vw;
}
.right_inner_2_1 p:nth-child(1){
    font-family: SF Pro Display;
    font-size: 0.73vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.46vw;
    letter-spacing: 0em;
    color:#393939;
    margin-bottom:0.65vw;

}
.right_inner_2_1 p:nth-child(2){
    font-family: SF Pro Display;
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.46vw;
    letter-spacing: 0em;
    color:#1E59A4;

}
