#nav {
  margin-top: 5.1vw;
  margin-bottom: 3.2vw;
  display: flex;
  justify-content: space-between;
}

#nav .nav_logo svg {
  width: 7vw;
  height: 1.69vw;
}

#nav .navigation {
  display: flex;
  align-items: center;
}

#nav .navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0 4vw;
  cursor: pointer;
  color: #393939;
}

#nav .navigation li {
  margin-right: 2.4vw;
  font-size: var(--text14px);
}

#nav .navigation li:hover {
  color: var(--primary);
}

#nav .call_center {
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
  height: 2.2vw;
  width: 8.4vw;
  font-weight: 700;
}

#nav .call_center svg {
  margin-right: 1vw;
  width: 1vw;
  height: 1vw;
}
