.world7_content{
    background-color:white;
    padding-bottom: 40vw;
}


.world7_content_main{
    width: 72.5%;
    margin: 1.8vw auto;
}

.world7_content_main_row4{
    display:flex;
    flex-direction: row;
    column-gap:1.39vw;
    row-gap:1.49vw;
    flex-wrap: wrap;
    
}