* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mapping {
  display: flex;
  flex-direction: row;
 column-gap: 48px;
 row-gap: 100px;
}
.switching {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 129px;
  height: 126px;
  background: #ffffff;
  border: 0.783848px solid rgba(30, 89, 164, 0.3);
  box-sizing: border-box;
  border-radius: 19.5962px;
  /* border:1px soldi red !important; */
}
.switching:hover{
  box-shadow:1px 1px 5px grey;
  transform:scale(1.05);
  transition: all ease-in-out 0.3s;
}
.text-area {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.text-area h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* width: 22.453vw; */
  color: #1e59a4;
}
.text-area p {
  font-family:" Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #8a8a8a;
  /* width: 75%; */
  width: 25.453vw;
}
