* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Urbanist";
}
ul {
  padding-left: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
.wrapper {
  display: flex;
  width: 72.5%;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;
  height: 100%;
  margin-bottom: 50px;
}

* {
  /* border:1px solid red */
}
.body1 {
  width: 100%;

  background: white;
}
.wrapall {
  width: 72.5%;
  margin: 0 auto;
}
.coverElments {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
}

.rightside {
  display: flex;
  flex-direction: column;
  margin-left: 6.589vw;
  row-gap: 36px;
}
.left-side {
  display: flex;
  flex-direction: column;
  row-gap: 5vw;

  cursor: pointer;
}
.left-side span {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.hr1 {
  width: 200px;
  margin-top: 2px;

  border: 1px solid #dbdbdb;
}

.span1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.left-side span h1 {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  /* width: 60%; */
  cursor: pointer;
}
.left-side h2 {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1e59a4;
}

.arrow {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e59a4;
  border: 1.5677px solid #1e59a4;
  box-sizing: border-box;
  border-radius: 50%;
}
.arrow1 {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1.6px solid #1e59a4;
}
.arrow1 img {
  width: 8px;
  height: 10px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
ul li {
  font-family: Urbanist;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;

  text-align: left;
  list-style: none;
}
.foot {
  display: flex;
  flex-direction: row;
}
.foot h1 {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  width: 16.764vw;
}
.foot hr {
  width: 280px;
  margin-top: 12px;
  border: 0.783848px solid #dbdbdb;
}
