

.wrapper {
  display: flex;
  width: 72.5%;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;
  justify-content: center;
  height: 100%;
 
}



.body1 {
  width: 100%;

  background: white;
}
.wrapall {
  width: 72.5%;
  margin: 0 auto;
}
.coverElments {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
}

.rightside {
  display: flex;
  flex-direction: column;
  margin-left: 6.589vw;
  row-gap: 36px;
}
.left-side {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;

  cursor: pointer;
}
.left-side span {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.hr1 {
  width: 200px;
  margin-top: 2px;

  border: 1px solid #dbdbdb;
}

.span1 {
  display: flex;
  flex-direction: column;
  /* gap: 7px; */
  /* margin-bottom: 23px; */
}
.left-side span h1 {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  /* width: 60%; */
  cursor: pointer;
}
.left-side h2 {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1e59a4;
}

.arrow {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e59a4;
  border: 1.5677px solid #1e59a4;
  box-sizing: border-box;
  border-radius: 50%;
}

.arrow1 svg {
  width: 1.3vw;
  height: 1.3vw;
 
  cursor: pointer;
}
.arrow1{
  padding-top: 10px;
  margin-right: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  height: 0;
  transform: scale(1);
  overflow: hidden;
 
}

.list li:hover{
  color: #1E59A4;
  text-decoration: underline;
}
.list li {
  /* font-family: 'Urbanist'; */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;

  text-align: left;
  list-style: none;
}
.foot {
  display: flex;
  flex-direction: row;
  /* column-gap: 0.5vw; */
  /* justify-content: space-around; */
  width: 100%;
  height: 50px;
  /* background-color: rgb(255, 250, 250); */
  border-bottom: 1px solid rgb(246, 238, 238);
}
.foot h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  width: 16.764vw;
  padding-left: 10px;
  

}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.foot hr {
  width: 100%;
  margin-top: 12px;
  border: 0.783848px solid #353131;
}

