
.case1{
    width:56.29vw;
    height: 36.9vw;
    padding-right:7.3vw;
    padding-left:13.91vw;
    display: flex;
    flex-direction: column;
    background-color:#1E59A4;
    border-top-right-radius:3.3vw;
    border-bottom-right-radius:3.3vw;
    
}

p{
    width:35vw;
    color:#FFFEFE;

}
.case1 p:nth-child(1){
    font-family:' 'SF Pro Display''!important;
    font-size: 1.02vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6vw;
    letter-spacing: 0em;
    margin:6.1vw 0 3.2vw 0;

}
.case1 p:nth-child(2){
    font-family: 'SF Pro Display';
    font-size: 1.02vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6vw;
    letter-spacing: 0em;
    margin-bottom: 3.2vw;

}
.case1 p:nth-child(3){
    font-family: 'SF Pro Display';
    font-size: 1.02vw;;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6vw;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 6.3vw;

}
