.case2{
    background-image: url('../assets/images/leftcase.png');
    background-position: center;
    background-size: cover;
    height:35.5vw;
    width: 56.29vw;
    border-top-left-radius: 3.3vw;
    border-bottom-left-radius: 3.3vw;
}