

.rectengular{
    background-image: url('../assets/images/rectengular.png');
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 14.2vw 14.2vw;
    width: 17.6vw;
    height:14vw;
    border-radius: 1.76vw;
    padding-top:3.5vw;
    transition: 1s;

}
.rectengular:hover{
    background-position:top left;
    background-size: 14.2vw 14.2vw;
    padding-left: 4vw;
}
.rectengular h5{
    font-family:' Urbanist';
    font-size: 5.8vw;
    font-style: normal;
    font-weight: 800;
    line-height: 3.36vw;
    letter-spacing: 0.05em;
    color:#1E59A4;
}