@font-face {
    font-family:Urbanist;
    src: url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
  }
  @font-face {
    font-family:Lato;
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
  }
  @font-face {
    font-family:SF Pro Display;
    src: url('http://fonts.cdnfonts.com/css/sf-pro-display');
  }


.showimage{
    background-image: url('../assets/images/showimage.png');
    background-color:#1E59A4;
}

.common_container {
    width: 72.5%;
    margin: 0 auto;
    padding-top: 74px;
    padding-bottom: 68px;
}

.common_container  p:nth-child(1){
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 59px;
    letter-spacing: 0em;
    color:#FFFFFF;
}
.common_container  p:nth-child(2){
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;    
    color:#FFFFFF;
    margin:6px 0 41px 0;
}
.common_container  p:nth-child(3){
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color:#FFFFFF;
    margin:5px 0 40px 0;
    width:85%;
    
}
.common_container .showimage_inner{
    /* border:1px solid red; */
    display:flex;
    flex-direction: row;
    align-items: center; 
    column-gap: 13px;
   
}
.showimage_inner img{
    height: 16.457143783569336px;
    width: 16.457143783569336px;
}
.showimage_inner h6{
    font-family: Urbanist;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color:#FFFFFF;
}
