
.content_data_left{
    width:32%;
    /* background-color:whitesmoke; */
    display:flex;
    flex-direction: column;
}
.filter_justify{
    display: flex;
    column-gap:1.24vw;
    flex-direction: row;
    align-items: center!important;
    
}
.filter_justify img{
    width:1.9vw;
    height:1.9vw;
}
.filter_justify h3{
    font-family: Lato;
    font-size: 1.31vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.53vw;
    letter-spacing: 0em;
    text-align: left;
    color:#828282;
    margin:0;
    

}
.line_title hr{
    margin:1.4vw 0 1.68vw 0;
    height: 1px;
    width: 16.3vw;
    color:#828282;

}
.line_title p{
    font-family: Lato;
    font-size: 0.87vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.02vw;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom:1.68vw;
    color:#393939;
}

.many_button{
    display: flex;
    column-gap:0.87vw;
    row-gap:1.17vw;
    flex-wrap: wrap;
    margin-bottom:1vw;
}
