
.content_data_left{
    width:32%;
    /* background-color:whitesmoke; */
    display:flex;
    flex-direction: column;
}
.filter{
    display: flex;
    column-gap:1.24vw;
    flex-direction: row;
    align-items: center!important;
}
.filter img{
    width:1.9vw;
    height:1.9vw;
}
.filter h3{
    font-family: Lato;
    font-size: 1.31vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.53vw;
    letter-spacing: 0em;
    text-align: left;
    color:#828282;
    

}
.line_title hr{
    margin:1.39vw 0 1.68vw 0;
    height: 0px;
    width: 16.3vw;
    color:#D0D0D0;

}
.line_title p{
    font-family: Lato;
    font-size: 0.87vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.02vw;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom:1.68vw;
    color:#393939;
}

.many_button{
    display: flex;
    column-gap:0.87vw;
    row-gap:1.17vw;
    flex-wrap: wrap;
}