@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*{
    font-family: "Lato", sans-serif;
}

.content{
    width: 100%;
    margin: 0 auto;
    background-color:white;
    margin-bottom:200px;
    height:50%;
    overflow: visible;
  }
.content_data{
    display:flex;
    column-gap:114px;
    margin-top:62px;
}
.content_data_left{
    flex:3;
    /* background-color:whitesmoke; */
    display:flex;
    flex-direction: column;
}
.content_data_right{
    flex:5;
    /* background-color:whitesmoke; */
}
.filter{
    display: flex;
    column-gap:17px;
}
.filter h3{
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}
.line_title hr{
    margin:19px 0 23px 0;
    height: 0px;
    width: 223px;
    color:#D0D0D0;

}
.line_title p{
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom:23px;
    color:#393939;
}

.many_button{
    display: flex;
    column-gap:12px;
    row-gap:16px;
    flex-wrap: wrap;
}
.right_inner{
    display: flex;
    flex-wrap: wrap;
    column-gap:22px;
    row-gap:22px;
}
.right_inner_1{
    height: 193.35443115234375px;
    width: 163.6075897216797px;
    border-radius: 18.591772079467773px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid lightgray;
}
.right_inner_1 img{
    margin:17px 0 16px 0;
}
.right_inner_1 p{
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color:#1E59A4!important;
    margin-bottom:12px;
}