
.pro_inner_main_container{
    width: 72.5%;
    margin: 0 auto;
}
.pro_inner_container{
    width: 72.5%;
    margin: 0 auto;
}
.content p,.content h3{
    width:fit-content;
}
.pro_inner_content{
    width: 100%;
    margin: 0 auto;
    background-color:white;
    padding-bottom:100vh;
    height:50%;
    overflow: visible;
  }
.pro_inner_content_data{
    display:flex;
    column-gap:8.34vw;
    margin-top:4.68vw;
}

.pro_inner_content_data_right{
    width:60%;
    /* background-color:whitesmoke; */
}

.rightInner{
    display: flex;
    flex-wrap: wrap;
    column-gap:1.61vw;
    row-gap:1.61vw;
}

.right_inner_one{
    height: 14.15vw;
    width: 11.97vw;
    border-radius: 1.36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid lightgray;
    text-decoration: none;
}
.right_inner_one img{
    margin:1.2vw 0 1.17vw 0;
    width:5.77vw;
    height:9.14vw; 
}

.right_inner_one p{
    font-family: Urbanist;
    font-size: 0.87vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.02vw;
    letter-spacing: 0em;
    text-align: center;
    color:#1E59A4!important;
    margin-bottom:0.87vw;
}