.squreRang{
    height:2.34vw;
    width: 6.29vw;
    font-family: 'Lato';
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 0.87vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.02vw;
    letter-spacing: 0em;
    text-align: center;
    background-color:#F8F8F8;
    border:0;
    cursor: pointer;
    transition: .4s;
    border:2px solid #F8F8F8;
    /* pointer-events:none; */
    padding:0 0.7vw;
}
.squreRang:hover{
    border:2px solid #65a4f2;
}
.squreRang .rang1{
    color:#4f4f4f;
    width:fit-content;
    margin:0;
    margin-right:0.2vw;
    font-weight:700;

}
.squreRang .rang2{
    color:#a2a2a2;
    width:fit-content;
    margin:0;
}
.squreRang .cancel{
    width:1vw;
    margin-left:1vw;
    display:none;
}