.squreRang{
    height:2.34vw;
    width: 6.29vw;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#F8F8F8;
    border:0;
    cursor: pointer;
    transition: .4s;
    padding:0 0.7vw;
}
#disabledDiv{
    pointer-events:none;
    background-color:#FBFBFB;
    color:#CDCDCD!important;
}

 .rang1{
    color:#4f4f4f;
    width:fit-content;
    margin:0;
    margin-right:0.2vw;
    font-weight:700;
    font-size: 0.87vw;
    font-family: 'Lato';
    font-style: normal;

}


.rang2{
    color:#a2a2a2;
    width:fit-content;
    margin:0;
    font-size: 0.87vw;
    font-family: 'Lato';
    font-style: normal;
}
.cancel{
    width:1vw;
    margin-left:1vw;
    display:none;
    font-weight:500;
}


.squreRangActive{
    background-color:#005DA9; 
}


.rang12Active{
    color:white;
    margin-left: auto;
    
}
.cancelBlock{
    display:block;
    width:1.03vw;
    height:1.03vw;
    margin-left: auto;
    
}
.cancelNone{
    display: none;
}