
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');





@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 100;
  src:url('./components/font-family/SFProDisplayThin.ttf') format('ttf');
  }
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src:url('./components/font-family/NetSFProDisplayUltralight.ttf') format('ttf');
    }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src:url('./components/font-family/SFPRODISPLAYREGULAR.woff') format('woff');
    }

  @font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src:url('./components/font-family/SFPRODISPLAYMEDIUM.woff') format('woff');
  }
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src:url('./components/font-family/SFProDisplaySemibold.ttf') format('ttf');
    }
  
  @font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src:url('./components/font-family/SFPRODISPLAYBOLD.woff') format('woff');
  }
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    src:url('./components/font-family/SFProDisplayBlack.ttf') format('ttf');
    }
@font-face{
  font-family: 'Lato';
  font-style:normal;
  font-weight: 300;
  src: url('./components/font-family/Lato-Light.ttf');
}
@font-face{
  font-family: 'Lato';
  font-style:normal;
  font-weight: normal;
  src: url('./components/font-family/Lato-Regular.ttf');
}
@font-face{
  font-family: 'Lato';
  font-style:normal;
  font-weight: 900;
  src: url('./components/font-family/SFProDisplayBlack.ttf');
}
@font-face{
  font-family: 'Lato';
  font-style:normal;
  font-weight: 500;
  src: url('./components/font-family/Lato-Medium.ttf');
}
@font-face{
  font-family: 'Lato';
  font-style:normal;
  font-weight: 600;
  src: url('./components/font-family/Lato-Semibold.ttf');
}
@font-face{
  font-family: 'Lato';
  font-style:normal;
  font-weight: 700;
  src: url('./components/font-family/Lato-Bold.ttf');
}
@font-face{
  font-family: 'Lato';
  font-style:normal;
  font-weight: 800;
  src: url('./components/font-family/Lato-Heavy.ttf');
}
*{
  padding:0;
  margin:0;
}
svg path{
  cursor:pointer;
}

body {
  background-color: var(--secondary);
}


:root {
  --primary: #1e59a4;
  --secondary: #f7faff;
  --secondary-dark: #d8e8ff;
  --text14px: 1vw;
  --text18px: 1.31vw;
}

/* INPUTS */
input {
  border: 1px solid rgba(13, 56, 100, 0.4);
  border-radius: 0.65vw;
}

input:focus {
  outline-color: var(--primary);
}

/* PLACEHOLDER */
::placeholder {
  color: #0d386466;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0d386466;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0d386466;
}