/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Urbanist:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 100;
  src:url('./components/font-family/SFProDisplayThin.ttf') format('ttf');
  }
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src:url('./components/font-family/NetSFProDisplayUltralight.ttf') format('ttf');
    }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src:url('./components/font-family/SFPRODISPLAYREGULAR.woff') format('woff');
    }

  @font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src:url('./components/font-family/SFPRODISPLAYMEDIUM.woff') format('woff');
  }
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src:url('./components/font-family/SFProDisplaySemibold.ttf') format('ttf');
    }
  
  @font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src:url('./components/font-family/SFPRODISPLAYBOLD.woff') format('woff');
  }
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    src:url('./components/font-family/SFProDisplayBlack.ttf') format('ttf');
    }

*{
  padding:0;
  margin:0;
  /* font-family: 'Source Code Pro', monospace;  box-sizing: border-box;   */
}


body {
  background-color: var(--secondary);
}


:root {
  --primary: #1e59a4;
  --secondary: #f7faff;
  --secondary-dark: #d8e8ff;
  --text14px: 1vw;
  --text18px: 1.31vw;
}

/* INPUTS */
input {
  border: 1px solid rgba(13, 56, 100, 0.4);
  border-radius: 0.65vw;
}

input:focus {
  outline-color: var(--primary);
}

/* PLACEHOLDER */
::placeholder {
  color: #0d386466;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0d386466;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0d386466;
}