@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@font-face {
  font-family:Urbanist;
  src: url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
}
@font-face {
  font-family:Lato;
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
}
@font-face {
  font-family:SF Pro Display;
  src: url('http://fonts.cdnfonts.com/css/sf-pro-display');
}

*{
  padding:0;
  margin:0;
  /* font-family: "Lato", sans-serif;   */
  box-sizing: border-box;
}

body {
  background-color: var(--secondary);
}




:root {
  --primary: #1e59a4;
  --secondary: #f7faff;
  --secondary-dark: #d8e8ff;
  --text14px: 1vw;
  --text18px: 1.31vw;
}

/* INPUTS */
input {
  border: 1px solid rgba(13, 56, 100, 0.4);
  border-radius: 0.65vw;
}

input:focus {
  outline-color: var(--primary);
}

/* PLACEHOLDER */
::placeholder {
  color: #0d386466;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0d386466;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0d386466;
}

.section_title_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5vw;
}

.section_title_wrap .section_title {
  color: var(--primary);
  font-size: 1.6vw;
}

.section_title_wrap .section_title_underline {
  width: 6.7vw;
  height: 0.2vw;
  border-radius: 10px;
  background-color: var(--secondary-dark);
  margin-top: 1rem;
}
